@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



.tab-btn {
    @apply px-2 py-2 rounded-lg text-gray-500 text-sm hover:bg-gray-100;
  }
  .tab-btn.active {
    @apply bg-orange-500 text-white;
  }

  .input {
    @apply w-full mt-3 px-3.5 py-2.5 text-sm rounded-lg border border-gray-300
           disabled:bg-gray-100 disabled:cursor-not-allowed
           focus:outline-none focus:ring-2 focus:ring-orange-500;
  }

  .toggle {
    @apply w-11 h-6 p-0.5 bg-gray-200 rounded-full flex items-center transition;
  }

  .toggle span {
    @apply size-5 bg-white rounded-full shadow transition;
  }

  .toggle[aria-pressed="true"] {
    @apply bg-orange-500;
  }

  .toggle[aria-pressed="true"] span {
    @apply translate-x-5;
  }

  .social-item {
    @apply border-b border-zinc-200 pb-6;
  }

  .toggle[aria-pressed="true"] {
    @apply bg-orange-500;
  }

  .toggle[aria-pressed="true"] span {
    @apply translate-x-5;
  }

  .btn-primary {
    @apply px-8 py-2 rounded-full bg-green-600/30 text-white text-sm font-semibold;
  }

  .btn-secondary {
    @apply px-8 py-2 rounded-full bg-slate-100 text-sm font-semibold;
  }

  .btn-danger {
    @apply px-8 py-2 rounded-full bg-white text-rose-700 text-sm font-semibold;
  }

